/*** Font Style ***/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*** Global, Viewport, and Wrapper ***/

* {
  box-sizing: border-box;
}

html {
  font: 18px Raleway, Arial, sans-serif;
}

body {
  background-color: #dfa4b6;
  margin: 0;
  overflow-x: hidden;
}

#wrapper {
  background-color: #fff;
  display: flex;
  justify-self: center;
  justify-content: center;
  min-height: 90vh;
  padding: 4rem 0 1rem 0;
  position: relative;
  width: 80%;
}

/*** Header and Navigation ***/

header {
  background-color: #cc2e72;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 25px 45px;
  position: relative;
  z-index: 4;
}

header form {
  align-content: center;
  grid-column: 1;
  grid-row: 1;
}

header form > section {
  display: flex;
  justify-content: center;
  position: relative;
}

header > form input {
  padding: 10px 0 10px 40px;
  border: 1px solid #808080;
  border-radius: 15px 0 0 15px;
  width: 350px;
  height: 30px;
}

header form button {
  height: 20px;
  background-color: #0d5f6a;
  border: 1px solid #808080;
  border-radius: 0 15px 15px 0;
  width: 60px;
}

header form button:hover {
  background-color: #12808f;
}

header form button img {
  height: auto;
  margin-bottom: 10px;
  width: 35px;
}

header > a {
  left: 50%;
  position: absolute;
  top: 90%;
  transform: translate(-50%, -50%);
}

header > a img {
  height: auto;
  max-width: 250px;
}

header nav li {
  white-space: nowrap;
}

header nav ul li:has(#open-sidebar) {
  margin: 0;
}

header nav li:last-of-type {
  margin: 0 0 0 10px;
}

header nav li a:hover {
  border-bottom: 1px solid #fff;
}

header nav li:last-of-type a {
  border: none;
}

#open-sidebar div {
  position: relative;
  display: inline-block;
  height: 1.1em;
  min-width: 100px;
  overflow: hidden;
}

#open-sidebar .text-flip {
  display: block;
  transition: transform 0.3s ease;
}

#open-sidebar .text-flip:first-child {
  transform: translateY(0%);
}

#open-sidebar:hover .text-flip:first-child {
  transform: translateY(-100%);
}

#open-sidebar .text-flip:last-child {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

#open-sidebar:hover .text-flip:last-child {
  transform: translateY(0%);
}

header nav li img {
  align-self: center;
  height: auto;
  width: 20px;
}

nav {
  align-content: center;
  grid-column: 3;
  grid-row: 1;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

nav ul > section {
  display: flex;
  gap: 10px;
}

nav a {
  text-decoration: none;
}

nav ul li {
  margin-right: 20px;
}

nav a,
nav label {
  color: #fff;
}

header > section,
nav ul {
  justify-content: center;
}

nav ul,
nav ul > section,
footer {
  align-items: center;
}

header form input,
header form button {
  height: 40px;
}

/*** Side Bar ***/

#sidebar {
  background-color: #0a4c55;
  border: 1px solid #808080;
  height: 100%;
  padding: 40px;
  position: absolute;
  right: -100%;
  top: 0;
  transition: right 0.4s ease-in-out;
  visibility: hidden;
  width: 350px;
  z-index: 3;
}

#wrapper .active {
  right: -12.5%;
  visibility: visible;
}

#close-sidebar {
  align-self: flex-end;
  padding: 4px 0 0 0;
  width: 30px;
}

#login .user-errors {
  background-color: #ff0000;
  border-radius: 14px;
  font-size: 14px;
  margin: 10px 0;
  padding: 4px;
  text-align: center;
  width: 140px;
}

#create-user.error-input,
#create-category .error-input {
  border: 2px solid #ff0000;
}

#sidebar #login h2 {
  margin-bottom: 45px;
}

#user-login {
  font-size: 20px;
}

#login form section input {
  border: 1px solid #808080;
  border-radius: 10px;
  height: 35px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

#login form section {
  margin-bottom: 30px;
}

#login form > input:last-of-type,
#logged-in a:first-of-type {
  background-color: #750c3a;
  border: 1px solid #808080;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
  padding: 10px 30px;
}

#sidebar #login a {
  margin-top: 50px;
}

#logged-in section {
  margin: 15px 0 40px 0;
}

#logged-in section p {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0;
}

#logged-in section p:last-of-type {
  border-top: none;
}

#logged-in a {
  margin-bottom: 20px;
}

#logged-in a:first-of-type {
  margin-bottom: 30px;
  text-decoration: none;
  width: 120px;
}

#logged-in a:first-of-type:hover {
  color: #fff;
}

#login,
#logged-in {
  display: flex;
  flex-direction: column;
}

#login h2,
#login label,
#logged-in h2,
#logged-in p,
#login .user-errors {
  color: #fff;
}

#login form > input:last-of-type:hover,
#logged-in a:first-of-type:hover,
#signup-page #signup-submit:hover,
#create-user input[type=submit]:hover,
#create-category input[type=submit]:hover {
  background-color: #a41150;
}

/*** Home Page ***/

main img {
  height: auto;
  max-width: 100%;
}

#wrapper a:hover,
#wrapper main > section:first-of-type a:hover {
  color: #ff2f89;
}

#home-page > section:first-of-type {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 1rem;
  position: relative;
}

#home-page h1 {
  align-content: end;
  font-size: 50px;
  margin-bottom: 20px;
}

#home-page > section:first-of-type p {
  font-size: 30px;
}

#home-page > section:first-of-type section {
  color: #fff;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(2, .5fr);
  text-align: center;
  z-index: 1;
}

#home-page > section:first-of-type img {
  filter: brightness(70%);
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

#home-page > section:first-of-type a {
  align-self: end;
  background-color: #0d5f6a;
  border-radius: 5px;
  color: #fff;
  justify-self: center;
  margin-bottom: 4rem;
  padding: 20px;
  width: auto;
}

#popular-categories {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .5fr 2fr;
}

#popular-categories h2 {
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
  margin: 50px 0;
}

#popular-categories section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

#popular-categories section a {
  align-self: flex-end;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 20px 20px 0 0;
  color: #0d5f6a;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  text-align: center;
  width: 170px;
  z-index: 2;
}

#popular-categories section img {
  grid-column: 1;
  grid-row: 1;
  width: 420px;
}

#home-page > section:last-of-type {
  display: grid;
  grid-template-columns: 1fr .75fr;
  padding: 3rem 0;
}

#home-page article {
  padding: 1rem 3rem 0 2rem;
}

#home-page > section:last-of-type img {
  align-self: center;
  justify-self: center;
}

/*** Recipes Page ***/

#recipes-page {
  padding: 2rem 0;
  width: 100%;
}

#recipes-page h1 {
  text-align: center;
  margin-bottom: 0;
}

#recipes-page > section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: auto;
  padding: 2rem;
}

#recipes-page > section > div:first-of-type  {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

#recipes-page div:first-of-type  > section:nth-of-type(1) {
  padding: 2rem 0 1rem 0;
}

#recipes-page div:first-of-type > section:nth-of-type(2) section {
  background-color: #09434b;
}

#recipes-page div:first-of-type > section:nth-of-type(2) > section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 250px;
  padding: 2rem 1rem 0 1rem;
  text-align: center;
}

#recipes-page div:first-of-type  > section:last-of-type a {
  font-size: 20px;
}

#recipes-page div:first-of-type  > section:last-of-type a:hover {
  color: #ff3c91;
}

#recipes-page div:first-of-type section > section {
  border: 1px solid #808080;
  border-radius: 20px;
}

#filters {
  align-items: center;
  background-color: #0d5f6a;
  display: flex;
  flex-direction: column;
  min-height: 510px;
  padding: 1rem;
}

#filters h2 {
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
}

#filters form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#filters form > label {
  color: #fff;
  margin-bottom: -10px;
}

#filters div {
  margin: 0;
}

#filters form section {
  background-color: #e9e9e9;
  border-radius: 10px;
  display: flex;
  margin-bottom: 1rem;
}

#filters form > section:first-of-type {
  margin-top: 25px;
}

#filters form section label {
  padding: 8px;
  width: 100%;
}

#filters form section > input[type="checkbox"] {
  margin: 0 10px;
  padding: 10px;
  width: 25px;
}

#filters form input[type="submit"] {
  background-color: #750c3a;
  border: 1px solid #808080;
  border-radius: 10px;
  color: #fff;
  margin-top: 10px;
  padding: 6px;
}

#filters form input[type="submit"]:hover {
  background-color: #a41150;
}

#recipe-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#fail-search-popup {
  align-items: flex-end;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem;
  position: relative;
  row-gap: 10px;
  text-align: center;
  width: 270px;
}

#close-popup-search {
  padding-top: 5px;
  width: 30px;
}

#recipes-grid {
  display: grid;
  gap: 30px;
  grid-column: 2;
  grid-template-columns: repeat(auto-fit, max(400px));
  padding: 2rem 0 2rem 30px;
}

.recipe-card {
  background-color: #f3f3f3;
  border: 1px solid #808080;
  border-radius: 20px;
  height: 100%;
  max-height: 550px;
  padding-bottom: 1rem;
}

.recipe-card h3 {
  text-align: center;
}

.recipe-card img {
  border-radius: 15px;
  display: flex;
  height: 300px;
  justify-self: center;
  object-fit: cover;
  width: 90%;
}

.recipe-card p {
  margin: 0;
}

.recipe-card section {
  column-gap: 1rem;
  justify-items: center;
  padding: 0 2rem;
}

.recipe-card section > p {
  padding: 8px 0
}

.recipe-card section:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-top: 1rem;
}

.recipe-card section:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe-card section:first-of-type > p {
  padding: 15px 0;
}

.recipe-card section:first-of-type > p span {
  font-family: Arial, Helvetica, sans-serif;
}

.recipe-card section:first-of-type div {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  height: min-content;
  justify-items: center;
  padding: 5px;
  width: 100%;
}

.recipe-times {
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.recipe-card section:last-of-type div {
 align-items: center;
 display: flex;
}

.recipe-card a {
  background-color: #750c3a;
  border-radius: 5px;
  color: #f4f4f4;
  display: flex;
  justify-self: end;
  padding: 10px 15px;
}

#pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2;
  justify-content: center;
  justify-items: center;
  margin-top: 2rem;
  width: 100%;
}

#selected-link {
  background-color: #e0e0e0;
  border-radius: 50%;
}

#pagination a,
#selected-link {
  color: #0d5f6a;
  display: inline-block;
  font: 25px 'IBM Plex Sans', Arial, sans-serif;
  margin: 10px 15px;
  padding: 5px 13px;
  text-decoration: none;
  white-space: nowrap;
}

#next-link {
  grid-column: 3;
}

#previous-link {
  grid-column: 1;
}

#page-numbers {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  grid-column: 2;
}

#recipes-page div:first-of-type > section:nth-of-type(1),
#recipes-page div:first-of-type > section:nth-of-type(2) {
  width: 250px;
}

#recipes-page div:first-of-type  > section:last-of-type h2,
#recipes-page div:first-of-type  > section:last-of-type a {
  color: #f0f0f0;
}

/*** Show Recipe ***/

#show-recipe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto) 1fr;
  margin-top: 4rem;
  padding: 0 3rem;
  width: 80%;
}

#show-recipe p {
  font-size: 20px;
}

#show-recipe > a:first-of-type {
  grid-column: 1 / -1;
  grid-row: 1;
  padding-bottom: 2rem;
}

#show-recipe h1{
  font-size: 40px;
}

#show-recipe > section:first-of-type {
  padding-right: 3rem;
}

#show-recipe .recipe-times {
  padding-left: 10px;
}

#show-recipe > section:first-of-type section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

#save-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  color: #000;
}

#save-popup > div {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

#save-popup, #rating-popup {
  display: none;
}

#popup-buttons button {
  margin: 0 10px;
  padding: 5px 10px;
}

#show-recipe > section:first-of-type section p {
  margin: 0 0 1rem 0;
}

#show-recipe > section:first-of-type section a {
  color: #750c3a;
}

#show-recipe > img {
  border-radius: 30px;
  display: flex;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  height: 500px;
  object-fit: cover;
  width: 600px;
}

#show-recipe > section:nth-of-type(2) {
  display: flex;
  flex-direction: row;
}

#show-recipe > section:nth-of-type(2) section {
  align-self: center;
  display: flex;
  margin-left: 2.5rem;
}

#show-recipe > section:nth-of-type(2) section button {
  background-color: #09434b;
  border-right: none;
  color: #fff;
  padding: 1rem;
}

#show-recipe > section:nth-of-type(2) section button.clicked {
  background-color: #12808f;
}

#show-recipe > section:nth-of-type(2) section button:first-of-type {
  border-radius:  30px 0 0 30px;
}

#show-recipe > section:nth-of-type(2) section button:last-of-type {
  border-right: 1px solid #000;
  border-radius:  0 30px 30px 0;
}

#show-recipe > section:nth-of-type(3) {
  align-items: center;
  display: flex;
  column-gap: 3rem;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
}

#show-recipe > section:nth-of-type(3) a {
  color: #000;
}

#show-recipe > section:nth-of-type(3) section:first-of-type a:first-of-type {
  margin-right: 12px;
}

#show-recipe > section:nth-of-type(3) section:last-of-type a:first-of-type {
  margin-right: 8px;
}

#close-popup {
  margin-top: 10px;
}

#rating-popup {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  width: 500px;
}

#stars {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 2.5rem 0;
}

#stars i {
  cursor: pointer;
  margin: 0 5px;
}

#stars i.fa-solid {
  color: #f7d200;
}

#rating-stars i.fa-solid.fa-star,
#rating-stars i.fa-solid.fa-star-half-stroke {
  color: #f7d200;
}

#close-popup {
  margin-top: 1rem;
  padding: 0;
  width: 60px;
}

#show-recipe #ingredients-directions {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 4;
  justify-content: center;
  margin: 2rem 0 3rem 0;
}

#ingredients-directions table {
  border: 1px solid #000;
  border-collapse: collapse;
  font-size: 20px;
  table-layout: fixed;
  width: 100%;
}

#ingredients-directions th {
  border: 1px solid #000;
}

#ingredients-directions td {
  padding: 1rem 2rem 2rem 1rem;
}

#ingredients-directions tbody tr {
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: top;
}

#ingredients-directions td:first-of-type {
  border-right: 1px solid #000;
}

#ingredients-directions li {
  padding-bottom: 20px;
}

#show-recipe > section:last-of-type {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 5;
  justify-content: center;
  margin-bottom: 3rem;
}

#show-recipe > section:last-of-type h2 a {
  color: #750c3a;
}

#show-recipe > section:last-of-type h2 a:hover {
  color: #cc2e72;
}

#show-recipe iframe {
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  margin: 1rem 0;
  width: 70%;
}

#show-recipe > section:last-of-type p {
  text-align: center;
}

#show-recipe > section:nth-of-type(2),
#show-recipe > section:nth-of-type(3) {
  padding-top: 1rem;
}


#show-recipe > section:first-of-type > p:nth-of-type(2),
#show-recipe > section:first-of-type > p:nth-of-type(3) {
  background-color: #09434b;
  border-radius: 20px;
  color: #fff;
  padding: 13px 0 13px 2rem;
  width: 60%;
  margin: 10px 0;
}

#ingredients-directions ul,
#ingredients-directions ol {
  margin: 10px 0 0 0;
}

/*** Print ***/

#print-recipe-page {
  padding-left: 3rem;
}

/*** About Page ***/

#about-page {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: repeat(4, min-content);
  margin: 2rem 4rem;
}

#about-page h1 {
  border-bottom: 3px solid #0d5f6a;
  grid-column: 1;
  grid-row: 1;
  height: min-content;
  padding-bottom: 1rem;
  width: 160px;
}

#about-page > section {
  height: min-content;
  margin-top: 2rem;
}

#about-page section:first-of-type {
  grid-column: 1;
  grid-row: 2;
}

#about-page section:nth-of-type(2) {
  grid-column: 1;
  grid-row: 3;
}

#about-page section:last-of-type {
  grid-column: 1;
  grid-row: 4;
}

#about-page img {
  align-self: flex-end;
  grid-column: 2;
  grid-row: 2 / 5;
}

#about-page a {
  color: #0d5f6a;
}

#home-page > section:first-of-type a,
#sidebar a {
  color: #fff;
}

#home-page > section:last-of-type,
#popular-categories {
  margin: 0 4rem;
}

/*** Sign Up Page and Create User Page ***/

#signup-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#signup-page form > section,
#create-user form > section,
#create-category form > section {
  display: flex;
  margin-bottom: 20px;
}

form > section p:first-of-type {
  font-size: 25px;
  margin: 19px 5px 0 0;
}

#signup-page form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#signup-page input {
  font-size: 14px;
  height: 35px;
  margin: -5px 0 20px 0;
  padding-left: 6px;
  width: 350px;
}

#signup-page #signup-submit {
  align-self: center;
  display: flex;
  margin: 10px 0;
  width: 200px;
}

#signup-page > p {
  margin: 30px 0 50px 0;
  text-align: center;
}

#signup-page a,
#manage-users a,
#create-user a,
#edit-user a,
#create-category a {
  color: #0d5f6a;
}

.create-errors {
  color: #ff0000;
  font-size: 14px;
  margin: -10px 0 20px 0;
}

#create-user form {
  padding-left: 1rem;
}

#create-user form input,
#create-user form select,
#create-category form input,
#create-category form select {
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px;
}

#create-user h1 {
  margin-top: 2.5rem;
}

#create-user form div,
#edit-user form div,
#create-user form input,
#edit-user form input {
  margin-bottom: 20px;
}

#create-user input[type=submit],
#edit-submit,
#create-category input[type=submit] {
  margin-top: 1rem;
  padding: 5px 20px;
}

#signup-page h1,
#signup-page form {
  align-self: center;
}

#signup-page input[type=text],
#signup-page input[type=password] {
  background-color: #f4f4f4;
  border: 1px solid #000;
  border-radius: 10px;
}

#signup-page form span,
#signup-page form > section p:first-of-type,
#create-recipe-page form section:first-of-type p:first-of-type,
#create-recipe-page form label span {
  color: #ff0000;
  font-weight: bold;
}

#signup-page #signup-submit, 
#create-user form input[type=submit],
#edit-submit,
#create-category input[type=submit] {
  background-color: #0d5f6a;
  border: 1px solid #808080;
  border-radius: 5px;
  color: #fff;
}

/*** Create Recipe Page ***/

#create-recipe-page h1 {
  text-align: center;
}

#create-recipe-page form label {
  font-size: 20px;
}

#create-recipe-page form > section {
  margin-bottom: 2rem;
}

#create-recipe-page form > section:first-of-type {
  align-items: flex-start;
  display: flex;
}

#create-recipe-page form > p {
  margin-bottom: 1rem;
}

#create-recipe-page form > section:first-of-type p:first-of-type {
  font-size: 30px;
}

#create-recipe-page .times {
  margin-left: 2rem;
}

#create-recipe-page form > section input {
  margin-top: 20px;
}

#ingredients-container {
  margin-top: 0;
}

#ingredients-container li {
  align-items: baseline;
  display:flex;
  gap: 15px;
}

#ingredients-container select {
  height: 27px;
}

#directions-container {
  list-style: none;
  padding: 0;
}

#directions-container li {
  align-items: center;
  display:flex;
  gap: 15px;
  margin-bottom: 10px;
}

#create-recipe-page form section:last-of-type p {
  font-size: 18px;
  margin-bottom: 10px;
}

.category-options {
  display: flex;
  flex-direction: row;
  margin: 0 0 2rem 2rem;
}

.category-options:first-of-type {
  margin-top: 1rem;
}

.category-options label {
  width: 120px;
}

.category-options section {
  margin-left: 30px;
}

.category-options section label {
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 20px;
  padding: 5px 10px 5px 5px;
}

#create-recipe-page form > button {
  background-color: #09434b;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin: 1rem 0 2rem 0;
  padding: 15px 35px;
}

/*** Manage Pages ***/

.manage {
  margin-bottom: 3rem;
  padding-left: 6rem;
  width: 100%;
}

.manage a {
  color: #0d5f6a;
}

.manage table {
  border: 1px solid #000;
  border-collapse: collapse;
  margin-top: 35px;
}

.manage td, th {
  border: 1px solid black;
  padding:  5px;
  text-align: center;
}

#delete-user h1 {
  margin: 50px 0;
}

#delete-user input[type=submit] {
  margin: 2rem 0 11rem 0;
}

#delete-category p:first-of-type {
  margin-top: 30px;
}

#delete-category p:last-of-type {
  border-bottom: 1px solid #0d5f6a;
  border-top: 1px solid #0d5f6a;
  margin: 30px 0;
  padding: 20px 0;
}

#create-category input,
#create-category select {
  border: 1px solid #000;
  margin-bottom: 30px;
}

#create-category input[type=submit],
#delete-category input[type=submit] {
  margin: 30px 0;
}

#edit-user h1,
#create-category h1,
#delete-category h1 {
  margin-top: 5rem;
}

#manage-users,
#create-user,
#create-category,
#edit-user,
#delete-user,
#delete-category {
  padding: 3rem 4rem 0 4rem;
}

/*** Footer ***/

footer {
  background-color: #cc2e72;
  color: #fff;
  display: grid;
  grid-template-columns: .6fr 1fr .5fr;
  grid-template-rows: 1fr;
  padding: 10px 45px;
}

footer p {
  font-size: 12px;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

footer nav {
  grid-column: 2;
  grid-row: 1;
}

footer nav ul li:nth-last-child(2) {
  padding-right: 15px;
}

footer ul li:last-of-type {
  margin-left: 6px;
}

footer section {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}

footer section a {
  color: #fff;
  height: auto;
  margin: 0 5px;
  width: 25px;
}

/*** Login Alert ***/

#login-alert {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
  width: 80%;
  max-width: 400px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

#login-alert button {
  background-color: #ffffff;
  color: #f44336;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#login-alert button:hover {
  background-color: #f1f1f1;
}

#login-alert .close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

/*** Coming Soon Popup ***/

.coming-soon-popup {
  background-color: rgba(0,0,0,0.4);
  display: none;
  position: fixed;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1; 
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
  position: relative;
}

.close-button {
  border: 1px solid #000;
  color: #000;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0 10px;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-content h2 {
  color: #333;
  margin-top: 0;
}

.popup-content p {
  color: #666;
}

/*** choice.js ***/

.choices {
  border-radius: 30px;
}

#filters .choices__inner {
  border: 1px solid #ccc;
  border-radius: 16px 16px 0 0;
  padding: 10px;
}

#filters .choices__input {
  margin: 0;
  padding: 5px 0 0 5px;
}

#filters .choices__list--dropdown,
#filters .choices__list[aria-expanded] {
  border-radius: 0 0 16px 16px;
}

#filters .choices__item--choice {
  white-space: nowrap;
}

/*** Viewport ***/

@media screen and (max-width: 2120px) {
  #recipes-grid {
    justify-content: center;
  }

  #about-page img {
    align-self: center;
  }
}

@media screen and (max-width: 1280px) {
  header nav {
    justify-self: end;
  }


  header form section {
    justify-content: left;
  }

  header > form input {
    width: 250px;
  }
}

@media screen and (max-width: 1150px) {
 
}
